--exclude Sources/Exporters/OpenTelemetryProtocolCommon/proto,.build,Build
--indent 2
--allman false
--disable wrapMultilineStatementBraces
--commas inline
--disable redundantReturn
--disable preferForLoop
--disable sortImports
--stripunusedargs closure-only
--trailingclosures	
--wrapparameters after-first


