#####################################################
#
# List of approvers for OpenTelemetry Swift SDK
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/master/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# Maintainers: @SergeyKanzhelev @nachoBonafonte @bryce-b

# Approvers: @vvydier @atreat @ArielDemarco


* @nachoBonafonte @bryce-b @vvydier

CODEOWNERS @nachoBonafonte
