name: Build and Test

on: [push, pull_request, workflow_dispatch]

jobs:
  macOS:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v2
    - name: Build and Test for macOS
      run: swift test --enable-code-coverage
    - name: Upload Code coverage
      run: |
        curl -Os https://uploader.codecov.io/latest/macos/codecov
        chmod +x codecov
        xcrun llvm-cov export -ignore-filename-regex="pb\.swift|grpc\.swift" -format="lcov" .build/debug/opentelemetry-swiftPackageTests.xctest/Contents/MacOS/opentelemetry-swiftPackageTests -instr-profile .build/debug/codecov/default.profdata > .build/debug/codecov/coverage_report.lcov
        ./codecov -f .build/debug/codecov/coverage_report.lcov
  iOS:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v2
    - name: Install Homebrew kegs
      run: make setup-brew
    - name: Build for iOS
      run: make build-for-testing-ios
    - name: Test for iOS
      run: make test-without-building-ios
  tvOS:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v2
    - name: Install Homebrew kegs
      run: make setup-brew
    - name: Build for tvOS
      run: make build-for-testing-tvos
    - name: Test for tvOS
      run: make test-without-building-tvos
  watchOS:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v2
    - name: Install Homebrew kegs
      run: make setup-brew
    - name: Build for watchOS
      run: make build-for-testing-watchos
    - name: Test for watchOS
      run: make test-without-building-watchos
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install swiftly
        run: curl -L https://swiftlang.github.io/swiftly/swiftly-install.sh | bash
      - name: Install swift
        run: swiftly install 5.10.1
      - name: Build tests for Linux
        run: swift build --build-tests
      - name: Run tests for Linux
        run: swift test