# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Create release

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Get the tag version
      id: tag_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
    - name: Update version
      run:

