name: Scope Testing

on: [push, pull_request]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2
    - name: Testing for macOS (only on push)
      if: github.event_name == 'push'
      uses: undefinedlabs/scope-for-swift-action@v1
      with:
        dsn: ${{ secrets.SCOPE_DSN }}
        platform: macos
        codePath: true
    - name: Testing for macOS (only run on pull_request)
      if: github.event_name == 'pull_request'
      uses: undefinedlabs/scope-for-swift-action@v1
      with:
        dsn: https://d6756ad6b68e4df7a3cd93693139ad35@app.scope.dev
        platform: macos
        codePath: true
