name: Scope Testing

on: [push, pull_request]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2
    - name: Testing for macOS
      uses: undefinedlabs/scope-for-swift-action@v1
      with:
        dsn: ${{ secrets.SCOPE_DSN }}
        platform: macos
        codePath: true
