name: Tag & Note Release
on : 
  pull_request:    
    branches:
      - main
    types:
      - closed
permissions:
  contents: read
jobs:
  CheckRelease:
    permissions:
      contents: write # required for creating tags and releases
    runs-on: macos-15
    steps:
      - name: Check if merge is release branch
        id: check-release
        run: |
          if [[ ${{ github.head_ref }} =~ ^release/([0-9]+\.[0-9]+\.[0-9]+$) ]]; then
            echo "match=true" >> $GITHUB_OUTPUT
            echo "version=${BASH_REMATCH[1]}" >> $GITHUB_OUTPUT
          fi
      - name: Tag if release branch
        if: github.event.pull_request.merged != true || steps.check-release.outputs.match != 'true'
        run: exit 1
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          fetch-depth: '0'      
      - uses: stefanzweifel/git-auto-commit-action@b863ae1933cb653a53c021fe36dbb774e1fb9403 # v5.2.0
        with:
          commit_message: version bump to ${{ steps.check-release.outputs.version }}
          tagging_message: '${{ steps.check-release.outputs.version }}'
      - uses: ncipollo/release-action@440c8c1cb0ed28b9f43e4d1d670870f059653174 # v1.16.0
        with: 
          tag: ${{ steps.check-release.outputs.version }}
          prerelease: true
          generateReleaseNotes: true
      - name: push cocoapods
        env: 
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        id: cocoapod_trunk_push
        run: |
          pod trunk push OpenTelemetry-Swift-Api.podspec --allow-warnings 
          pod trunk push OpenTelemetry-Swift-Sdk.podspec --allow-warnings --synchronous
          pod trunk push OpenTelemetry-Swift-BaggagePropagationProcessor.podspec --allow-warnings --synchronous
          pod trunk push OpenTelemetry-Swift-DataCompression.podspec --allow-warnings --synchronous
          pod trunk push OpenTelemetry-Swift-Instrumentation-NetworkStatus.podspec --allow-warnings --synchronous
          pod trunk push OpenTelemetry-Swift-Instrumentation-URLSession.podspec --allow-warnings --synchronous
          pod trunk push OpenTelemetry-Swift-Protocol-Exporter-Common.podspec --allow-warnings --synchronous
          pod trunk push OpenTelemetry-Swift-SdkResourceExtension.podspec --allow-warnings --synchronous
          pod trunk push OpenTelemetry-Swift-Protocol-Exporter-Http.podspec --allow-warnings --synchronous
          pod trunk push OpenTelemetry-Swift-PersistenceExporter.podspec --allow-warnings --synchronous
          pod trunk push OpenTelemetry-Swift-StdoutExporter.podspec --allow-warnings --synchronous
        
